# Python version: python3.6.5
# user pip install -r requirements.txt -i https://pypi.douban.com/simple
############################################################################################

dataclasses==0.8
numpy==1.19.5
Pillow==8.4.0
torch==1.10.0
torchvision==0.11.1
typing_extensions==4.0.0
